# Composer
/vendor/

# Build
/box.json
/box.phar
/composer.phar
/composer-setup.php
/robusta-magerun2.phar
/build/output/

# Magerun stopfile
/.robusta-magerun2

.idea

# VSCode
.vscode

phpunit.xml
.php-cs-fixer.cache
.phpunit.result.cache
.php_cs.cache

# Gitub
super-linter.log
